<div class="buttons-container mat-elevation-z6">
  <a *ngFor="let item of items" class="nav-button" mat-button [routerLink]="item.routerLink">
    <span class="special-font">
      {{item.name}}
    </span>
  </a>
</div>


<!-- <div class="buttons-container">
  <a class="nav-button" mat-button routerLink="home">
    <span class="special-font">
      Home
    </span>
  </a>
  <a class="nav-button" mat-button routerLink="events">
    <span class="special-font">
      Events
    </span>
  </a>
  <a class="nav-button" mat-button routerLink="portraits">
    <span class="special-font">
      Portraits
    </span>
  </a>
  <a class="nav-button" mat-button routerLink="documentary">
    <span class="special-font">
      Documentary
    </span>
  </a>
  <a class="nav-button" mat-button routerLink="fiction">
    <span class="special-font">
      Fiction
    </span>
  </a>
  <a class="nav-button" mat-button routerLink="clients">
    <span class="special-font">
      Clients
    </span>
  </a>
  <a class="nav-button" mat-button routerLink="about">
    <span class="special-font">
      Bio
    </span>
  </a>
  <a class="nav-button" mat-button routerLink="contact">
    <span class="special-font">
      Contact
    </span>
  </a>
</div> -->