:host {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    .waheb-name {
        margin-top: 20%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .social-links {
        height: 80px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        a {
            margin: 16px;
            color: #212130;

        }
    }
}