<mat-toolbar>
  <mat-toolbar-row>
    <span class="mat-display-2 center-title stylish-font zero-margin-bottom">Chargui Waheb</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="mat-headline center-title stylish-font zero-margin-top">Photography</span>
  </mat-toolbar-row>

  <mat-toolbar-row>

  </mat-toolbar-row>
</mat-toolbar>



<div class="photos-container">
      <mat-card class="photo-card" *ngFor="let photo of photoCollection">
        <mat-card-content class="photo-card-content">
            <img src="{{photo.link}}" alt="{{photo.title}}"> 
        </mat-card-content>
      </mat-card>
</div>