<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="video">
      <ng-content>

      </ng-content>
    </div>

    <div class="description" *ngIf="description">
      <span class="mat-title">
        Description
      </span>
      <p class=" mat-body">
        {{description}}
      </p>
    </div>

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>