<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidebar-content [title]="'FICTION'"></app-sidebar-content>
  </mat-drawer>
  <div class="content">
    <app-video-card [title]="'Flashback'" [subtitle]="'by waheb chargui'" [description]="flashbackDesc">
      <iframe height="315" src="https://www.youtube.com/embed/wJKF95Xyf-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </app-video-card>

    <app-video-card [title]="'Jendoubi Hal El Mhall'" [subtitle]="'by waheb chargui'">
      <iframe height="315" src="https://www.youtube.com/embed/tYGMf0E6gi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </app-video-card>

    <app-video-card [title]="'JenJoon & Mahri - Ellil | الليل'" [subtitle]="'by waheb chargui'">
      <iframe height="315" src="https://www.youtube.com/embed/uB3-m4k23Tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </app-video-card>

    <app-video-card [title]="'ELMegdeya_المڨدية **AZÜL**'" [subtitle]="'by waheb chargui'">
      <iframe height="315" src="https://www.youtube.com/embed/OyG-kjb9wgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </app-video-card>
    <app-video-card [title]="'Spot Publicitaire Festival UGTT 2018'" [subtitle]="'by waheb chargui'">
      <iframe height="315" src="https://www.youtube.com/embed/EdwG5dF9W1U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </app-video-card>


  </div>


</mat-drawer-container>